* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #222;
  background: #fff;
}
/* HEADER */
/* ===== HEADER ===== */
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  z-index: 1000;
}

/* ===== LOGO ===== */
.logo {
  flex: 1;
  color: #fffffd;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 0px; /* chỉnh số này để sát hơn */
}
.text-vr {
  font-family: "Playfair Display", serif;
  color: #d3571eec;
}
.text-design {
  font-family: "Playfair Display", serif;
  color: #f3f0ed;
}

.logo3 {
  width: 60px;
}
/* Header đổi màu khi scroll */
.header.scrolled {
  background: rgba(10, 15, 25, 0.95);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

/* ===== NAV CENTER ===== */
.nav {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 15px;
  letter-spacing: 1px;
}

/* underline animation */
.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #c59d5f;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

/* ===== RIGHT ===== */
.right {
  flex: 0;
  display: flex;
  justify-content: flex-end;
}

/* ===== SEARCH ===== */
.search-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* input hidden */
.search-container input {
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 20px;
  transition: 0.4s;
  background: rgba(255, 255, 255, 0.95);
}

/* active */
.search-container.active input {
  width: 220px;
  opacity: 1;
  margin-right: 10px;
}

/* button */
.search-container button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.search-container button:hover {
  color: #c59d5f;
}

/* focus glow */
.search-container input:focus {
  box-shadow: 0 0 0 2px #c59d5f;
}
/* ......................................................... */

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Video full màn hình */
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

/* Lớp phủ tối */
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Nội dung nằm trên */
.hero-content {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  color: #d3571eec;
}
.text-accent {
  color: #f3f0ed;
}

.hero p {
  margin: 20px 0;
  color: #fff;
}

/* BUTTON */
.btn {
  padding: 12px 30px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #c59d5f;
  border-color: #c59d5f;
}

/* SECTION */
.section {
  padding: 120px 60px;
  text-align: center;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  margin-bottom: 20px;
}

/* hero-about */
.hero-about {
  height: 90vh;
  background: url("../img/abc.jpg") center/cover no-repeat;
  position: relative;
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-overlay h1 {
  color: #eaf8f5;
  font-size: 34px;
  line-height: 1.5;
}

/* WAVE */
.hero-wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
}
/* ABOUT */
.about-clone {
  background: #f5f5f5;
  padding: 80px 20px 100px;
}

.about-container {
  max-width: 900px;
  margin: auto;
}

/* TITLE */
.title {
  font-size: 26px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title span {
  width: 6px;
  height: 20px;
  background: #a2d628;
  display: inline-block;
}

/* TEXT */
.about-clone p {
  color: #555;
  line-height: 1.8;
  margin-bottom: 15px;
  font-size: 15px;
}

/* STATS */
.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 30px 20px;
}

.stat h3 {
  color: #c59d5f;
  font-size: 32px;
}

/* TEAM */
.team {
  background: #f5f5f5;
  padding: 80px 20px;
  text-align: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.member img {
  width: 100%;
  border-radius: 10px;
}

/* CTA */
.cta {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 60px;
}

.cta a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

/* SERVICES */

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* tạo hiệu ứng bậc thang */
.service-card:nth-child(2) {
  transform: translateY(40px);
}

.service-card:nth-child(3) {
  transform: translateY(80px);
}

/* IMAGE */
.service-img {
  height: 200px;
  overflow: hidden;
}

.service-img img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/* zoom ảnh khi hover */
.service-card:hover img {
  transform: scale(1.1);
}

/* CONTENT */
.service-content {
  padding: 20px;
}

.service-content h3 {
  margin-bottom: 10px;
}

.service-content p {
  color: #666;
  margin-bottom: 15px;
}

/* PROJECT */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.card {
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.5s;
}

.card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.card:hover .overlay {
  opacity: 1;
}

/* CONTACT FORM */

.form-section {
  background: #111;
  color: #fff;
}

.form-pro {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-pro input,
.form-pro select,
.form-pro textarea {
  padding: 14px;
  border: 1px solid #333;
  background: #1a1a1a;
  color: #fff;
  outline: none;
}

.form-pro input:focus,
.form-pro textarea:focus {
  border-color: #c59d5f;
}

.form-pro textarea {
  min-height: 120px;
}

.gold-btn {
  background: #c59d5f;
  border: none;
}

.gold-btn:hover {
  background: #a8843f;
}

/* FOOTER */
footer {
  background: #000;
  color: #aaa;
  padding: 40px;
  text-align: center;
}

/* FLOATING */
.floating-contact {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.floating-contact a {
  width: 55px;
  height: 55px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.floating-contact img {
  width: 35px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .header {
    padding: 15px 20px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .section {
    padding: 60px 20px;
  }
}
/* RESPONSIVE service */
@media (max-width: 768px) {
  .service-grid {
    grid-template-columns: 1fr;
  }

  .service-card {
    margin-top: 0 !important;
  }
}
