<section id="projects" class="section">
  <h2>Dự án tiêu biểu</h2>

  <div class="grid">
    <div class="card">
      <a href="components/bietthu.html">
        <img
          src="https://images.unsplash.com/photo-1507089947368-19c1da9775ae"
        />
        <div class="overlay">Biệt thự</div>
      </a>
    </div>

    <div class="card">
      <a href="components/nhapho.html">
        <img
          src="https://images.unsplash.com/photo-1494526585095-c41746248156"
        />
        <div class="overlay">Nhà phố</div>
      </a>
    </div>

    <div class="card">
      <a href="components/noithat.html">
        <img
          src="https://images.unsplash.com/photo-1484154218962-a197022b5858"
        />
        <div class="overlay">Nội thất</div>
      </a>
    </div>
  </div>
</section>
