<!-- <section id="service" class="section">
  <h2>Design And Build</h2>

  <div class="service-grid">
    <div class="service-card">
      <h3>Thiết kế trọn gói</h3>
      <p>Tối ưu không gian, phong cách hiện đại.</p>
      <a href="#contact">Xem chi tiết</a>
    </div>

    <div class="service-card">
      <h3>Thi công xây dựng trọn gói</h3>
      <p>Đảm bảo tiến độ và chất lượng công trình.</p>
      <a href="#contact">Xem chi tiết</a>
    </div>
  </div>
</section> -->

<section id="service" class="section service">
  <div class="container">
    <div class="section-header">
      <h2>Thiết kế & Thi công</h2>
      <p>" Giải pháp thiết kế và thi công trọn gói "</p>
    </div>

    <div class="service-grid">
      <!-- CARD 1 -->
      <div class="service-card">
        <div class="service-img">
          <img src="../img/service1.jpg" alt="Thiết kế kiến trúc" />
        </div>
        <div class="service-content">
          <h3>Thiết kế trọn gói</h3>
          <p>Tối ưu không gian, phong cách hiện đại.</p>
          <a href="#contact">Xem chi tiết →</a>
        </div>
      </div>

      <!-- CARD 2 -->
      <div class="service-card">
        <div class="service-img">
          <img src="../img/service2.jpg" alt="Thi công xây dựng" />
        </div>
        <div class="service-content">
          <h3>Thi công xây dựng</h3>
          <p>Đảm bảo tiến độ và chất lượng.</p>
          <a href="#contact">Xem chi tiết →</a>
        </div>
      </div>

      <!-- CARD 3 -->
      <div class="service-card">
        <div class="service-img">
          <img src="../img/service3.jpg" alt="Nội thất" />
        </div>
        <div class="service-content">
          <h3>Thiết kế nội thất</h3>
          <p>Không gian sống sang trọng, tinh tế.</p>
          <a href="#contact">Xem chi tiết →</a>
        </div>
      </div>
    </div>
  </div>
</section>
